* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 0; }

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Light.otf"); }

@font-face {
  font-family: "Quicksand-italic";
  src: url("../fonts/Quicksand-Italic.otf"); }

@keyframes animTexto {
  from {
    margin-left: 100%;
    width: 100%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.container {
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 0.1fr;
  grid-template-areas: "contenido contenido" "footer footer"; }
  .container .contenido {
    grid-area: "contenido";
    grid-column: 1/3; }
  .container .pie {
    grid-area: "footer";
    grid-column: 1/3;
    margin-top: 1rem; }
  .container .consulta {
    grid-area: "contenido";
    grid-column: 1/3; }
  .container .lista1 {
    grid-area: "contenido";
    grid-column: 1/3; }
  .container .tarjeta {
    grid-area: "contenido";
    grid-column: 1/3; }
  .container .contacto {
    grid-area: "contenido";
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3; }

.tarjeta {
  display: flex;
  flex-direction: column; }
  .tarjeta .col {
    display: flex;
    justify-content: center !important; }

footer {
  grid-area: "footer";
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  background-color: #f1faee; }

a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-family: "Quicksand";
  background-image: linear-gradient(#bde0fe, #a2d2ff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }
  a:hover {
    background-size: 100% 2px; }
  a:focus {
    background-size: 100% 2px; }

h2 {
  margin-top: 20px; }

.nombre {
  text-align: center;
  margin-top: 10px;
  font-family: "Quicksand";
  background-color: #f1faee;
  margin-top: 0; }
  .nombre h2 {
    margin-top: 10px;
    font-size: 1rem;
    font-family: "Quicksand";
    margin-bottom: 0; }

.img-fluid {
  width: auto;
  margin-top: 30px;
  padding: 0;
  height: 20rem; }

.pie {
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px; }
  .pie a {
    width: 300px;
    padding-right: 5px;
    color: black; }
  .pie legend {
    font-size: 15px; }

.presentacion {
  text-align: justify;
  display: inline;
  width: 300px; }
  .presentacion h2 {
    text-align: center;
    font-size: 25px;
    font-family: "Quicksand"; }
  .presentacion p {
    padding-top: 10px;
    text-align: center;
    font-family: "Quicksand-italic"; }

p {
  animation-duration: 4s;
  animation-name: animTexto;
  margin: 20px; }

.consulta {
  height: 310px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  padding-top: 10px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: #bbd2f5; }
  .consulta legend {
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px; }
  .consulta p {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 10px; }
  .consulta textarea {
    width: 10rem;
    height: 5rem;
    border-radius: 5px;
    border: 1px solid darkslateblue; }

.contacto {
  margin-bottom: 15px; }

.mb-3 .botones, .mb-3 .btn {
  margin-top: 7px;
  color: #000000;
  text-align: center; }

.mb-3 .btn {
  background-color: #84c8df;
  border: solid 1px white; }

article {
  display: inline-block;
  text-align: center;
  padding-bottom: 100px; }
  article h2 {
    padding-bottom: 15px; }
  article p {
    font-size: 18px;
    background-color: #caf0f8;
    font-family: "Quicksand"; }

.lista1 {
  display: inline-block;
  text-align: center; }
  .lista1 li {
    padding: 3px; }
  .lista1 ul {
    padding-left: 0; }
    .lista1 ul p {
      padding-bottom: 3px;
      padding-top: 3px;
      font-size: 18px;
      text-decoration: underline; }
    .lista1 ul .li1 {
      font-size: 15px;
      color: green; }
    .lista1 ul .li2 {
      font-size: 15px;
      color: #2e7a2e; }
    .lista1 ul .li3 {
      font-size: 15px;
      color: #0df30d; }
    .lista1 ul .li4 {
      font-size: 15px;
      color: #045504; }
    .lista1 ul .li5 {
      font-size: 15px;
      color: #84ec84; }
    .lista1 ul .li6 {
      font-size: 15px;
      color: #bbbb12; }

.subtitulo2 {
  font-size: 20px;
  margin-bottom: 10px; }

@media screen and (min-width: 577px) {
  .container {
    display: grid;
    height: 140vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas: "contenido contenido" "footer footer"; }
    .container .tarjeta .card {
      margin-right: auto;
      margin-left: auto; } }

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    height: 140vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas: "contenido contenido" "footer footer"; }
    .container .pie {
      grid-area: "footer";
      grid-column: 1/3;
      margin-top: 1rem; }
  .presentacion h2 {
    margin-top: 80px; }
  .presentacion p {
    justify-content: center;
    margin-top: 20px;
    width: auto; }
  footer {
    grid-area: "footer";
    grid-column: 1/3; }
  .nombre h1 {
    font-size: 50px; }
  .nombre h2 {
    font-size: 23px; }
  a {
    font-size: 18px; }
  .d-flex {
    width: 10rem; }
  article {
    grid-area: "contenido";
    grid-column: 1/3; }
  .consulta {
    width: 20rem;
    height: 25rem; }
    .consulta legend {
      font-size: 20px; }
  .form-control {
    width: 16rem; }
  #exampleFormControlTextarea1 {
    width: 16rem;
    height: 10rem; } }
